* {
    background-color: rgb(113,112,110);
    font-size: x-large;
}

* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-align: center;
    color: #0000ff;
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
    border: solid black;
    color: white;
    margin: 1em;
    padding: 1em;
}

#homehead {
    text-align: center;
    color: blue;
}

.home {
    text-align: center;
    color:cornflowerblue;
}

#hh {
    float: left;
    height: 300px;
}

#footnote {
    position: relative;
    margin-top: 20px;
    margin-left: 1em;
    font-size: 10px;
}

#avenge {
    font-size: 50px;
    color: white;
    display: block;
    text-align: center;
}

#few {
    font-size: x-small;
    float:inline-end;
}

.cap {
    background-color: blue;
    color: white;
    text-align: center;
}

#capimage {
    background-color: #0000ff;
    width:300px;
    padding: 1px;
    margin: auto;
}

#capimage img {
    max-width: 100%;
    height: auto;
    display: block;
    margin:auto;
    align-content: center;
}

a {
    color: #ffffff;
}

a:hover {
    color: blue;
}

.im {
    text-align: center;
    background-color: darkred;
    color:gold;
}

.ironimage {
    background-color: darkred;
    width:auto;
    padding: 1px;
    margin: auto;
    padding-top: 20px;
}

.ironimage img {
    height: 200px;
    display: block;
    margin:auto;
    align-content: center;
}

.imtest {
    text-decoration: underline;
    font-size: x-large;
    border: solid;
    border-color: gold;
    background-color: darkred;
    color: gold;
}

.hulk {
    background-color: green;
    color: purple;
    text-align: center;
}

.hulkimage {
    background-color: green;
    width:auto;
    padding: 1px;
    margin: auto;
    padding-top: 20px;
}

.hulkimage img {
    height: 200px;
    display: block;
    margin:auto;
    align-content: center;
}