

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: cyan;
}

header, #content, footer {
    display: none;
}

body::before {
    content: "📍 123 Imaginary Ln. Harrisburg, PA";
    display: block;
    padding: 20px;
    font-size: 20px;
}

body::after {
    content: "";
    display: block;
    height: 200px;
    background-image: url('map.jpg');
    background-size: cover;
    margin: 20px;
}

@media (min-width: 600px) {

    header {
        display: block;
        padding: 20px;
    }

    #content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .food {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 15px;
    }

    .image {
        width: 100%;
    }

    footer {
        display: block;
        background: black;
        color: white;
        padding: 15px;
    }

    footer p:nth-child(2) {
        display: none;
    }

    body::before, body::after {
        display: none;
    }
}

@media (min-width: 800px) {

    #content {
        grid-template-columns: repeat(3, 1fr);
    }

    .food {
        display: block;
        text-align: center;
    }

    footer p:nth-child(2) {
        display: block;
    }
    
    body::before, body::after {
        display: none;
    }
}

